{% extends "layouts.html" %}
{% block contents %}
     <section id="home">
          <div class="row">
                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-5 col-sm-12">
                                             <h1>Welcome to VIVANS Library_Management_Program</h1>
                                             <br>
                                             <a href="/introduce" class="section-btn btn btn-default smoothScroll">What can we do?</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-20">
                                             <h1>VIVANS<br>Internship mini project </h1>
                                             <br>
                                             <a href="https://www.vivans.net/" class="section-btn btn btn-default smoothScroll">Go to VIVANS</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <!-- <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Smart factory members<br>Group two</h1>
                                             <br>
                                             <a href="/introduce" class="section-btn btn btn-default smoothScroll">Who are the members?</a>
                                        </div>
                                   </div>
                              </div>
                         </div> -->
                    </div>
               </div>
     </section>
{% endblock contents %}