{% extends "layouts.html" %}

{% block contents %}

<section id="feature" style="background-image:url(../static/images/library_5.png)">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-4" style = "padding-left:150px">
                   <div class="feature-thumb">
                        <span style = "font-size:30px">01</span>
                        <h1 style="color:white">Team Members</h1>
                        <br>
                        <p style = "font-size:25px;color:white;">임덕규, 권오영, 배종현, 최연웅, 최창현</p>
                   </div>
                   <br><br><br>
              </div>
              
              <div class="col-md-12 col-sm-4" style="padding-left:150px">
               <br><br><br><br>
                    <div class="feature-thumb">
                        <span style = "font-size:30px">02</span>
                        <h1 style="color:white">What can we do?</h1>
                        <br>
                        <p style = "font-size:25px;color:white">Admin &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Searching books, Managing members and books</p>
                        <p style = "font-size:25px;color:white">Members : Searching books, Check my booklist</p>
                        <p style = "font-size:25px;color:white">Guest &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Searching books</p>
                   </div>
              </div>

         </div>
    </div>
</section>

{% endblock %}